[
	{ rabbit, [

		{ tcp_listeners, [ 5672 ] },
		{ default_pass, <<"rabbitmq-ha">> },
		{ default_user, <<"rabbitmq-ha">> },
		{ hipe_compile, false }
	] },
	{ rabbitmq_management, [
        { load_definitions, "/etc/rabbitmq/definitions.json" },
        { listener, [
		    { port, 15672 },
		    { ssl, false }
	    ]}
    ]}
].